/*Google Font CDN Link*/
@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;}
body{
    width: 100%;
    height: auto;
    background-color: #d3d3d3;
    overflow-x: hidden;}
/*custom scroll bar css*/
::-webkit-scrollbar{
    width: 10px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;}
::-webkit-scrollbar-track{
    background: black;}
::-webkit-scrollbar-thumb{
    background: #363636;
    border-radius: 12px;
    transition: all 0.3s ease;}
::-webkit-scrollbar-thumb:hover{
    background: gray;
}
/*nav bar styling*/
nav{
    width: 100%;
    height: 7vh;
    background-color: #d3d3d3;}
.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;}

.logo{
    font-size: 3rem;
    font-weight: bold;}
.logo span{
    color: black;}
/*Navegation Upper Bar*/
.nav-container .links{
    display: flex;}
.nav-container .links a{
    position: relative;
    font-size: 1.2rem;
    color: #363636;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;}
.nav-container .links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #e2619f;
    transition: 0.2s linear;}
.nav-container .links a:hover::before{
    width: 100%;}
.nav-container .links a:hover{
    color: #e2619f;}
/*Section*/
section{
    width: 100%;
    min-height: 50vh;}
section .main-container{
    display: flex;
    justify-content: space-between;
    align-items: normal;}
.main-container .image{
    width: 30%;
    height: 30%;
    border-top-right-radius: 90%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 70%;
    border-bottom-right-radius: 50%;
    overflow: hidden;}
.main-container .image img{
    width: 100%;}
.main-container .image:hover{
    scale:  1.07;
    transition: 0.2s linear;}
.main-container .content{
    color: #363636;
    width: 40%;}
.content h1{
    font-size: clamp(5rem, 1rem + 5vw, 1.8rem);}
.content h1 span{
    color: white;
    text-shadow: 0 0 10px gray;}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;}
.typing-text span{
    position: relative;}
.typing-text span::before{
    content: "";
    color: black;
    animation: TWTXT 10s infinite;}
.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 80%;
    border-left: 3px solid transparent;
    animation: I-Division 0.6s infinite;}

@keyframes TWTXT{
    0%,20%{content:"Teoria Musical";}
    21%,40%{content:"Desarrollo";}
    41%,60%{content:"Fotografía";}
    61%,80%{content:"Animación";}
    81%,100%{content:"Ilustración";}
}

@keyframes I-Division{
    to{border-left: 3px solid #F8C8DC;}}

.content p{
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0px;}

.social-links{
    margin: 0px 0px;}

.social-links i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid black;
    border-radius: 20%;
    color: black;
    margin: 1px 1px;
    font-size: 1.5rem;
    transition: 0.2s linear;}
.social-links i:hover{
    scale:  1.5;
    color: white;
    background-color: black;}
.content button{
    width: 50%;
    height: 6vh;
    margin: 20px 0px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;}
.content button:hover{
    scale: 1.1;
    background-color: #8d44f7;
    font-weight: 700;}
/*Section*/
section .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: #363636;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;}
section .button button:hover{
    background-color: white;
    color: black;}
section .content{
    width: 50%;
    margin:  0px auto;
    font-family: 'Poppins', sans-serif;}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;}
section .title span{
    color: black;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;}
section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #e2619f;
    left: 0;
    bottom: 0;}
section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);}
section .topic{
    color: #363636;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;}
.about-details .right p{
    text-align: justify;
    color: #363636;}

/*PGskills*/
.PGskills{
    background: #d3d3d3;}
.PGskills .content{
    padding:  40px 0;}
.PGskills .PGskills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;}
.PGskills-details .text{
    width: 50%;}
.PGskills-details .experience{
    display: flex;
    align-items: center;
    margin: 0 10px;}
.PGskills-details .experience .num{
    color: #e2619f;
    font-size: 160px;}
.PGskills-details .experience .exp{
    color:  #363636;
    margin-left:  20px;
    font-size: 32px;
    font-weight: 500;
    margin: 0 6px;}
.PGskills-details .boxes{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}
.PGskills-details .box{
    width: calc(100% /2 - 20px);}
.PGskills-details .boxes .topic{
    font-size: 20px;
    color: #363636;}
.PGskills-details .boxes .per{
    font-size: 60px;
    color: #363636;}
/*skills*/
.skills{
    background: #d3d3d3;}
.skills .content{
    padding:  40px 0;}
.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;}
.skills-details .text{
    width: 50%;}
.skills-details .experience{
    display: flex;
    align-items: center;
    margin: 0 10px;}
.skills-details .experience .num{
    color: #e2619f;
    font-size: 160px;}
.skills-details .experience .exp{
    color:  #363636;
    margin-left:  20px;
    font-size: 32px;
    font-weight: 500;
    margin: 0 6px;}
.skills-details .boxes{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}
.skills-details .box{
    width: calc(100% /2 - 20px);}
.skills-details .boxes .topic{
    font-size: 20px;
    color: #363636;}
.skills-details .boxes .per{
    font-size: 60px;
    color: #363636;}
/*Services*/
.services{
    background-color: #d3d3d3;}
.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}
.services .boxes .box{
    margin: 20px 0;
    width: calc(100%/3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    color: #363636;
    transition: all 0.4s ease;}
.services .boxes .box:hover{
    background: black;
    color: white;}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: black;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;}
.boxes .box:hover .icon{
    background-color: white;
    color: black;}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: white;
    transition: all 0.4s ease;}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color:  white;}
/*footer*/
footer{
    background: #d3d3d3;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins, sans-serief';}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #363636;}
footer .text span a{
    font-weight: 500;
    color: #e2619f;}
footer .text span a:hover{
    text-decoration: underline;}

/*Phone Ajustement*/

@media (max-width: 1000px){

    .nav-container .links a{
    position: relative;
    font-size: 0.9rem;
    margin: 0 5px;}

    .logo{
        font-size: 2rem;
        font-weight: bold;}
    .logo span{
        color: black;}

    section .main-container{
        display: inline;}

    .main-container .image{
        display: none;}

    .content h1{
        font-size: 2rem;}
    
    .main-container .content{
        width: 80%;}

    section .content{
        width: 80%;
        margin: 10%;}

    .typing-text{
        font-size: 20px;}

    .social-links i{
        width: 10%;
        height: 2rem;
        border: 0rem solid black;
        border-radius: 20%;
        margin: 0px 0px;}
    
    .content button{
        width: 60%;
        height: 10vh;
        margin: 5px 20%;
        font-size: 80%;}

    section .button button{
        font-size: 80%}


    .PGskills-details .experience{
        display: inline;}
    .PGskills-details .experience .num{
        font-size: 50px;}
    .PGskills-details .experience .exp{
        font-size: 14px;
        margin: 0 0px;}    
    .PGskills-details .boxes{
        width: 85%;}
    .PGskills-details .box{
        width: calc(100% /3 - 15px);}
    .PGskills-details .boxes .topic{
        font-size: 11px;}
    .PGskills-details .boxes .per{
        font-size: 34px}
    
    .skills-details .experience{
        display: inline;}
    .skills-details .experience .num{
        font-size: 50px;}
    .skills-details .experience .exp{
        font-size: 14px;
        margin: 0 0px;}    
    .skills-details .boxes{
        width: 85%;}
    .skills-details .box{
        width: calc(100% /3 - 10px);}
    .skills-details .boxes .topic{
        font-size: 10px;
        height: 30%;}
    .skills-details .boxes .per{
        font-size: 32px;}

    .services .boxes .box{
        margin: 5px 0;
        width: calc(100%/2 - 10px);
        text-align: center;
        border-radius: 12px;
        padding: 20px 10px;}
    .services .boxes .box .icon{
        height: 50px;
        width: 50px;
        line-height: 50px;
        margin: 0 auto 10px auto;}
    section .topic{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;}
}
